/* ================================== Start Requirements Div=============================== */
.requirement-div {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
}

.requirement-div h2 {
    text-align: center;
    font-size : 1.1rem;
}

.req {
    margin-top   : 5%;
    width        : 100%;
    box-shadow   : -1.75px -1.75px 10px 0px palevioletred, 2px 2px 10px 0px rgb(55, 55, 235);
    border-radius: 10px;
}

.req-lists {
    position     : relative;
    padding      : 0% 5% 3% 8%;
    /* text-align: justify; */
}

.req-lists li {
    padding: .2rem;
}

.link-icon.fa {
    font-size: 15px;
}


/* ================================== End Requirements Div=============================== */

ul.download {
    font-weight  : 550;
    margin       : 5rem 0.7rem;
    margin-bottom: 20vh;
}

ul.download li a {
    color: dodgerblue;
}

.distintro {
    width : 80%;
    height: auto;
    margin: auto;
}

ul.distros {
    list-style-type: none;
    margin-bottom  : 8rem;
}

.dist {
    display       : flex;
    flex-direction: column;
    /* important for @media */
    margin        : 1.3rem 0.5rem;
}

.distro {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
}

h2 {
    margin-top   : 1.75rem;
    margin-bottom: 1.75rem;
}

.laptop {
    width        : 75vw;
    height       : auto;
    margin       : auto;
    margin-bottom: 0 !important;
    border       : 7px solid #ddd;
    border-radius: 10px 10px 0 0;
}

.bottom {
    width        : 88vw;
    height       : 12px;
    border-radius: 0 0 25px 25px;
    border-top   : 3px solid white;
    border-bottom: 0.5px solid black;
    background   : #bbb;
    z-index      : 1;
    margin-top   : 0 !important;
}

.distdesc {
    text-align: center;
}


/* ------------------------------- Download Dropdown ----------------------- */
.downloadlinks {
    display            : flex;
    justify-content    : space-evenly;
    width              : 100%;
    margin-bottom      : 8rem;
    flex-direction     : column;
    text-align         : center;
    /* background-color: olive; */
}

.drpdown,
.popup-div {
    /* flex: 1; */
    position: relative;
    margin  : 1% 1%;

}

.drpbtn,
.popup-div>button {
    height       : 100%;
    width        : 100%;
    color        : white;
    padding      : .8rem 1rem;
    font-size    : 16px;
    border       : none;
    cursor       : pointer;
    border       : none;
    border-radius: .3rem;
    outline      : none;
}

.drpbtn,
.popup-div>button {
    background-color   : #f5000098;
    background-size    : 100% 400%;
    background-position: 0 100%;
}


.drpdown-content {
    display : none;
    position: absolute;
    width   : 100%;


}

.drpdown-content a {
    display   : block;
    /* padding: 1% 0; */

}

.drpdown:hover>div {
    z-index   : 4;
    display   : block;
    background: rgba(77, 75, 75, 1);
    color     : white;
    animation : rolldown 0.5s 1;
}

.dwnlinks:hover {
    color: rgb(77, 159, 236);
}

.qtile {
    margin-bottom: 10rem;
}

.sidenav~* {
    padding-left: 2.5rem;
}


/* ------------------------------Popup Start-------------------------- */


.popup {
    text-align      : center;
    position        : fixed;
    display         : none;
    justify-content : center;
    align-items     : center;
    background-color: black;
    color           : white;
    width           : 90%;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    z-index         : 50;
    flex-direction  : column;
    border-radius   : 1rem;
    box-shadow      : 0 0 100px 30px rgb(82, 79, 79);

}

.popup-header {
    width          : 100%;
    display        : flex;
    justify-content: flex-end;
    padding        : 0% 2%;

}

.popup-header button {
    font-size  : 2rem;
    font-weight: bold;
    border     : none;
    background : none;
    outline    : none;
    cursor     : pointer;
    color      : white;
}

.popup-close-btn {
    display         : inline;
    background-color: rgb(7, 7, 6);
    color           : white;
    padding         : 1% 2%;

    border: none;
    cursor: pointer;

}

.popup-download-btns {
    width  : 100%;
    padding: 2%;
    flex   : 2;
}

.popup-heading {
    width: 100%;
    flex : .5;
}

.popup-heading h3 {
    display      : inline-block;
    border-bottom: 4px solid purple;
    border-radius: 5px;
    box-shadow   : 0 0 5px gray;
    padding      : 1% 2%;
}

.popup-download-btn {
    background-color: rgb(231, 42, 67);
    color           : white;
    padding         : 1% 2%;
    width           : 60%;
    height          : 2rem;
    cursor          : pointer;
    border          : none;
    font-weight     : bold;
    border-radius   : .2rem;
    margin          : 1%;
}

.popup-content {
    padding   : 3%;
    flex      : 2;
    text-align: justify;

}

.show-popup {
    display: flex;
}

.overlay {
    position       : fixed;
    top            : 0;
    left           : 0;
    bottom         : 0;
    right          : 0;
    z-index        : 15;
    backdrop-filter: blur(6px);
    /* width       : 100vw;
    height         : 100vh; */
    display        : none;
    pointer-events : none
}

.overlay.active {
    display       : block;
    pointer-events: all;

}